# Dependencies
node_modules/

# Environment Variables (Security)
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Operating System Files
.DS_Store
Thumbs.db

# Testing
coverage/

# IDE Settings
.vscode/
.idea/